!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/screen.css')
	body
		div.navbar(class="navbar-fixed-top")
			div.navbar-inner
				div.container
					a.brand(href="#") Home
					- if (session.currentUser)
						ul.nav(class="pull-right")
							li
								a
									= session.currentUser
							li
								a#logout(href="/sessions") Logout



		div.container#main
			- var flashTypes = ['info', 'error']
			each flashType in flashTypes
				if flash[flashType]
					p.flash(class=flashType)
						= flash[flashType]

			!= body