h1 OMG CHaT!

div.row
	div.span8#chat
	div.span4#users
div.row
	div.span12#chat_entry
		form.form-inline
			input.chat.span7(type='text', name='chat')
			input.btn.btn-primary#sayit(type='submit', value='Say It')

script
	$(function() {
		var currentUsers = !{JSON.stringify(users)};
		window.app.chatView.preloadUsers(currentUsers);
	});

