h1 OMG CHaT!

div.row
	div.span8#chat
	div.span4#users
div.row
	div.span12#chat_entry

script(type='text/javascript')
	$(function() {
		window.app.Users.reset([{name: 'swilliams' }, {name: 'derp'} ]);
	})