div.row
	form.span6(action='/sessions', method='post', class='offset3')
		header
			h1 Sign In With Twitter

		p
			| I know, you're thinking "Oh Em Gee, Twitter? Really?". Yes, Twitter. The reason is that it removes just a little bit of anonymity, which should hopefully elevate the discourse enough to make things worthwhile. And yeah, if that doesn't work we have other moderation options, but we hope we don't have to use them.

		a.btn.btn-primary(href="/login/connect") Login with Twitter